@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  background-color: rgb(242, 241, 246);
  font-family: "Poppins", system-ui;
}

#logo-title {
  font-family: "Bebas Neue", sans-serif;
}

.menu li>*:not(ul):not(.menu-title):not(details):active {
  @apply bg-gray-100;
}

/* .menu li {
  background-color: rgb(230, 231, 245);
  margin: 2px 0;
  border-radius: 5px;
} */